[mysqld]
datadir=/data/store/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
max_connections=5000
default-storage-engine=INNODB
wait_timeout=2880000
interactive_timeout = 2880000
max_allowed_packet = 10M

# 字符集设置
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci  # mysql5.7
init-connect = 'SET NAMES utf8mb4'

innodb_flush_log_at_trx_commit = 2

# skip-grant-tables=1

# master配置
log-bin=mysql-bin
server-id=14954
expire_logs_days=7

# 去掉ONLY_FULL_GROUP_BY，规避报错：
# Expression #2 of ORDER BY clause is not in GROUP BY clause and contains nonaggregated column
# 'vpoker_master.sys_revenue_day.from_gid' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by
#sql_mode='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'

[mysqld_safe]
# log-error=/var/log/mysql
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
